{
    "extends": [
        "stylelint-config-recommended"
    ],
    "plugins": [
        "stylelint-scss"
    ],
    "ignoreFiles": [
        "**/*.js"
    ],
    "rules": {
        "block-no-empty": null,
        "color-no-invalid-hex": true,
        "declaration-colon-space-after": "always",
        "indentation": [
            4,
            {
                "baseIndentLevel": 1,
                "ignore": [
                    "inside-parens",
                    "value"
                ]
            }
        ],
        "selector-type-no-unknown": null,
        "block-closing-brace-empty-line-before": "never",
        "max-empty-lines": 2,
        "rule-empty-line-before": [
            "always-multi-line",
            {
                "except": [
                    "first-nested"
                ],
                "ignore": [
                    "after-comment",
                    "inside-block"
                ]
            }
        ],
        "declaration-block-no-redundant-longhand-properties": true,
        "unit-case": "lower",
        "unit-no-unknown": true,
        "no-duplicate-selectors": null,
        "no-extra-semicolons": true,
        "color-named": "always-where-possible",
        "declaration-block-no-duplicate-properties": true,
        "unit-blacklist": [
            "px"
        ],
        "at-rule-no-unknown": null,
        "at-rule-empty-line-before": [
            "always",
            {
                "except": [
                    "first-nested"
                ]
            }
        ]
    }
}
